*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.5;
}

#app {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
  
  body {
    overflow: hidden;
  }
}
